In [2]:
import pandas as pd
import re

# GCASH

In [7]:
# Load the original data
file_path = r"E:\GCASH.xlsx"
data = pd.read_excel(file_path)
data.head()

  Date and Time Description Reference No. Debit Credit Balance
0  2024-03-07 05:41 PM Withdraw from GSave Accoun...
1  2024-03-07 06:32 PM Payment to Uniku Taiwanese...
2  2024-03-07 08:21 PM Received GCash from 7eleve...
3  2024-03-08 02:26 PM Transfer from 09055149244 ...
4                                2024-03-08 17:24:00

In [12]:
# Initialize an empty DataFrame to store the date_time and temp_description
details_data = pd.DataFrame(columns=["Date and Time", "Temporary Description"])

def extract_details(row):
    # Extract date and time
    date_time_pattern = r'\d{4}-\d{2}-\d{2} \d{2}:\d{2}(?::\d{2})?(?: [AP]M)?'
    date_time_match = re.search(date_time_pattern, row)
    date_time = date_time_match.group(0) if date_time_match else ''

    # Extract description by removing the date and time part from the row
    description = row.replace(date_time, '').strip() if date_time else row

    return date_time, description

previous_description = ""
for i in range(len(data)):
    row = str(data.iloc[i, 0])

    # Skip rows containing 'Date and Time'
    if 'Date and Time' in row:
        continue

    date_time, temp_description = extract_details(row)

    if date_time:
        # If date_time is extracted, it's a new entry
        if previous_description:
            # Save the previous entry before starting a new one
            temp_df = pd.DataFrame([[None, previous_description]], columns=["Date and Time", "Temporary Description"])
            details_data = pd.concat([details_data, temp_df], ignore_index=True)
            previous_description = ""

        # Create a new entry for the current row
        temp_df = pd.DataFrame([[date_time, temp_description]], columns=["Date and Time", "Temporary Description"])
        details_data = pd.concat([details_data, temp_df], ignore_index=True)
    else:
        # If no date_time is found, append the row to the previous description
        previous_description += " " + row

# Add the last accumulated description if it exists
if previous_description:
    temp_df = pd.DataFrame([[None, previous_description]], columns=["Date and Time", "Temporary Description"])
    details_data = pd.concat([details_data, temp_df], ignore_index=True)

# Iterate through the details_data DataFrame to modify or drop rows based on conditions
for i in range(1, len(details_data)):
    if pd.isnull(details_data.at[i, 'Date and Time']):
        if 'Date and Time Description' in details_data.at[i, 'Temporary Description']:
            # Drop the row if 'Temporary Description' contains 'Date and Time Description'
            details_data.drop(i, inplace=True)
        else:
            # Append the current row's 'Temporary Description' to the previous row's 'Temporary Description'
            details_data.at[i - 1, 'Temporary Description'] += ' ' + details_data.at[i, 'Temporary Description']
            # Drop the current row after appending its description to the previous row
            details_data.drop(i, inplace=True)

# Reset the index after dropping rows
details_data.reset_index(drop=True, inplace=True)



details_data['Reference No.'] = None
details_data['Credit/Debit'] = None
details_data['Debit'] = None
details_data['Credit'] = None
details_data['Balance'] = None

# Iterate through the DataFrame to extract and assign the values to the new columns
for i in range(len(details_data)):
    # Split the 'Temporary Description' into blocks
    blocks = details_data.at[i, 'Temporary Description'].split()
    
    # Ensure there are enough blocks to extract the data
    if len(blocks) >= 3:
        details_data.at[i, 'Reference No.'] = blocks[-3]  # Third last block for 'Reference No.'
        details_data.at[i, 'Credit/Debit'] = blocks[-2]  # Second last block for 'Credit/Debit'
        details_data.at[i, 'Balance'] = blocks[-1]  # Last block for 'Balance'
        
        # Update 'Temporary Description' by removing the extracted parts
        details_data.at[i, 'Temporary Description'] = ' '.join(blocks[:-3])


# Add new columns for Credit and Debit


# Define keywords and phrases that indicate a credit transaction
credit_keywords = ['received', 'withdraw from', 'refund', 'transfer from system to']
transfer_from_ending = '09055149244'

# Iterate through the DataFrame to assign values to the Credit and Debit columns
for i in range(len(details_data)):
    description = details_data.at[i, 'Temporary Description'].lower()  # Convert to lowercase for case-insensitive comparison
    amount = details_data.at[i, 'Credit/Debit']
    description_blocks = description.split()
    
    # Check the conditions for credit
    if any(keyword in description for keyword in credit_keywords) or ('transfer from' in description and description_blocks[-1] == transfer_from_ending):
        details_data.at[i, 'Credit'] = amount
    else:
        details_data.at[i, 'Debit'] = amount

# Drop the 'Credit/Debit' column as it's now separated
details_data.drop('Credit/Debit', axis=1, inplace=True)

# Separate 'Date and Time' into two new columns: 'Date' and 'Time'
details_data[['Date', 'Time']] = details_data['Date and Time'].str.split(' ', n=1, expand=True)

from datetime import datetime

def convert_time(time_str):
    # Check if the time is already in 12-hour format
    if 'AM' in time_str or 'PM' in time_str:
        return time_str
    else:
        # Convert from 24-hour to 12-hour format
        return datetime.strptime(time_str, '%H:%M:%S').strftime('%I:%M %p')

# Apply the conversion function to the 'Time' column
details_data['Time'] = details_data['Time'].apply(convert_time)


# Reorder the DataFrame to place the 'Date' and 'Time' columns at the front
column_order = ['Date', 'Time', 'Temporary Description', 'Reference No.', 'Credit', 'Debit', 'Balance']
details_data = details_data[column_order]



# Convert the 'Credit' and 'Debit' columns to numeric, ensuring non-numeric values are handled as NaN
details_data['Credit'] = pd.to_numeric(details_data['Credit'], errors='coerce').fillna(0)
details_data['Debit'] = pd.to_numeric(details_data['Debit'], errors='coerce').fillna(0)

# Calculate the total credit and total debit
total_credit = details_data['Credit'].sum()
total_debit = details_data['Debit'].sum()

# Determine the ending balance
# If the 'Balance' column represents the running balance, take the last entry
# Otherwise, calculate it as total credit minus total debit
if pd.to_numeric(details_data['Balance'], errors='coerce').notnull().all():
    ending_balance = details_data['Balance'].astype(float).iloc[-1]
else:
    ending_balance = total_credit - total_debit

# Print the results
print(f"Total Credit: {total_credit}")
print(f"Total Debit: {total_debit}")
print(f"Ending Balance: {ending_balance}")

#Show the updated DataFrame
details_data

Total Credit: 56118.51
Total Debit: 55551.33
Ending Balance: 929.63

,Date,Time,Temporary Description,Reference No.,Credit,Debit,Balance
0,2024-03-07,05:41 PM,Withdraw from GSave Account with Reference No....,6015793528450,1000.00,0.00,1362.45
1,2024-03-07,06:32 PM,Payment to Uniku Taiwanese Restaurant,0000614550018,0.00,420.00,942.45
2,2024-03-07,08:21 PM,Received GCash from 7eleven Kiosk,6015797770799,2000.79,0.00,2943.24
3,2024-03-08,02:26 PM,Transfer from 09055149244 to 09264080098,6015813258374,0.00,80.00,2863.24
4,2024-03-08,05:24 PM,"Payment to Google, Merchant Transaction Number...",0000616013653,0.00,49.00,2814.24
5,2024-03-08,07:10 PM,"Payment to Google, Merchant Transaction Number...",0000616246561,0.00,149.00,2665.24
6,2024-03-09,11:31 AM,Payment to Subway 1961,0000617186903,0.00,715.00,1950.24
7,2024-03-09,01:04 PM,Payment to Bancnet P2M Send,0000617314087,0.00,800.00,1150.24
8,2024-03-09,01:09 PM,Transfer from 09989195697 to 09055149244,9015836236735,2350.00,0.00,3500.24
9,2024-03-09,01:23 PM,Payment to Bancnet P2M Send,0000617344331,0.00,180.00,3320.24
10,2024-03-10,11:09 AM,Transfer from 09055149244 to 09088180448,6015858492870,0.00,395.00,2925.24
11,2024-03-10,08:28 PM,Transfer from 09055149244 to 09652301635,6015871913977,0.00,1000.00,1925.24
12,2024-03-10,09:02 PM,Transfer from 09055149244 to 09167615436,6015872761429,0.00,520.00,1405.24
13,2024-03-11,09:08 AM,Payment to Bancnet P2M Send,0000620260795,0.00,117.50,1287.74
14,2024-03-11,09:22 PM,Transfer from 09055149244 to 09778217652,6015897933569,0.00,200.00,1087.74
15,2024-03-12,12:26 PM,Transfer from 09055149244 to 09171666951,6015909058349,0.00,119.00,968.74
16,2024-03-13,01:15 PM,Transfer from 09055149244 to 09171666951,6015933881447,0.00,119.00,849.74
17,2024-03-13,04:44 PM,"Payment to Google, Merchant Transaction Number...",0000624151920,0.00,49.00,800.74
18,2024-03-14,02:44 AM,Withdraw from GSave Account with Reference No....,6015949253333,1500.00,0.00,2300.74
19,2024-03-14,02:44 AM,GCredit UHH026,6015949256614,0.00,1002.33,1298.41
20,2024-03-14,11:38 AM,Withdraw from GSave Account with Reference No....,6015955560695,1000.00,0.00,2298.41
21,2024-03-14,11:38 AM,Payment to Heavenly Desserts Bakery Products Shop,0000625349951,0.00,1700.00,598.41
22,2024-03-15,01:41 AM,Bills Payment to Globe Postpaid,0000626505720,0.00,300.00,298.41
23,2024-03-16,03:07 PM,Withdraw from GSave Account with Reference No....,6016009432000,1300.00,0.00,1598.41
24,2024-03-16,03:19 PM,Payment to KFC 4911,0000629003179,0.00,840.00,758.41
25,2024-03-17,05:28 AM,"Payment to Google, Merchant Transaction Number...",0000629856797,0.00,249.00,509.41
26,2024-03-18,07:15 AM,"Payment to Google, Merchant Transaction Number...",0000631563596,0.00,49.00,460.41
27,2024-03-19,12:34 PM,Transfer from 09279276216 to 09055149244,5016080370530,100.00,0.00,560.41
28,2024-03-19,03:25 PM,Transfer from 09055149244 to 09189000953,6016084164638,0.00,100.00,460.41
29,2024-03-19,06:09 PM,Payment to Bancnet P2M Send,0000634190891,0.00,460.00,0.41
30,2024-03-20,08:08 AM,"Received GCash from BDO Unibank, Inc. with acc...",6016098442603,5000.00,0.00,0.00
31,2024-03-20,08:10 AM,Transfer from 09055149244 to 09271852580,6016098470556,0.00,180.00,4820.41
32,2024-03-20,08:53 AM,Transfer from 09055149244 to 09499248552,6016099179495,0.00,119.00,4701.41
33,2024-03-20,02:04 PM,Payment to Globe Telecom Inc SCB 7065,0000732426057,0.00,179.00,4522.41
34,2024-03-20,02:44 PM,Transfer from 09760667063 to 09055149244,6016106808753,500.00,0.00,5022.41
35,2024-03-20,04:42 PM,Transfer from 09175140129 to 09055149244,9016109464240,40.00,0.00,5062.41
36,2024-03-20,06:07 PM,Payment to UJ Cyberscape Beta,0000635769596,0.00,44.00,5018.41
37,2024-03-20,06:59 PM,Transfer from 09055149244 to 09264080098,6016113172691,0.00,535.00,4483.41
38,2024-03-21,08:25 AM,Transfer from 09055149244 to 09171666951,6016123197071,0.00,119.00,4364.41
39,2024-03-21,11:59 AM,Transfer from 09055149244 to 09261653760,6016127582602,0.00,550.00,3814.41
40,2024-03-21,04:35 PM,Transfer from 09560757611 to 09055149244,1016133680506,40.00,0.00,3854.41
41,2024-03-21,06:16 PM,Deposit to GSave Account with Reference No.GC1...,6016136169453,0.00,2300.00,1554.41
42,2024-03-21,06:39 PM,Transfer from 09055149244 to 09064553022,6016136783785,0.00,300.00,1254.41
43,2024-03-21,06:41 PM,Transfer from 09055149244 to 09064553022,6016136863547,0.00,165.00,1089.41
44,2024-03-21,06:50 PM,Transfer from 09952388430 to 09055149244,3016137114655,40.00,0.00,1129.41
45,2024-03-22,01:06 PM,Transfer from 09055149244 to 09264080098,6016153123302,0.00,190.00,939.41
46,2024-03-23,12:24 PM,Transfer from 09055149244 to 09175780539,6016176418096,0.00,454.00,485.41
47,2024-03-24,10:10 PM,Withdraw from GSave Account with Reference No....,6016215702949,49.72,0.00,535.13
48,2024-03-26,06:08 PM,Transfer from 09055149244 to 09264080098,6016259715009,0.00,144.00,391.13
49,2024-03-27,02:18 PM,Transfer from 09954789637 to 09055149244,5016280324751,938.00,0.00,1329.13
50,2024-03-29,12:55 AM,"Payment to Netflix, Merchant Transaction Numbe...",0000649807256,0.00,399.00,930.13
51,2024-03-30,02:51 PM,Received GCash from GOTYME BANK CORPORATON wit...,6016349439356,39500.00,0.00,0.00
52,2024-03-30,02:52 PM,Deposit to GSave Account with Reference No.GC1...,6016349453787,0.00,40000.00,430.13
53,2024-04-01,02:37 PM,Payment to Athlene,0000655398515,0.00,100.00,330.13
54,2024-04-04,07:04 PM,Withdraw from GSave Account with Reference No....,6016479898630,760.00,0.00,1090.13
55,2024-04-04,07:14 PM,Payment to Bancnet P2M Send,0000661020701,0.00,160.50,929.63

In [13]:
details_data.dtypes

Date                      object
Time                      object
Temporary Description     object
Reference No.             object
Credit                   float64
Debit                    float64
Balance                   object
dtype: object

In [15]:
# Save the DataFrame to an Excel file without the index
output_file_path = 'gcash_data_0307_0404.xlsx'
details_data.to_excel(output_file_path, index=False)

# BDO

In [24]:
# Load the original data
file_path = r"E:\BDO.xlsx"
data = pd.read_excel(file_path)

In [25]:
data.head()

      Sale Date Post Date Transaction Details Amount
0    03/21/24 03/21/24 MONTHLY MEMBERSHIP FEE 150.00
1  02/22/24 02/22/24 SM STORE-MEGAMALL MANDALUYON...
2  02/27/24 02/28/24 SKY CABLE 3D IPG QC MPGS QUE...
3  03/01/24 03/03/24 ITALIANNIS SHANGRILA M MANDA...
4  03/01/24 03/03/24 MARY GRACE SHNGRILA MANDALUY...

In [26]:
# Initialize an empty DataFrame to store the date_time and temp_description
details_data = pd.DataFrame(columns=["Date and Time", "Temporary Description"])

def extract_details(row):
    # Extract date and time
    date_time_pattern = r'\d{2}/\d{2}/\d{2}'
    date_time_match = re.search(date_time_pattern, row)
    date_time = date_time_match.group(0) if date_time_match else ''

    # Extract description by removing the date and time part from the row
    description = row.replace(date_time, '').strip() if date_time else row

    return date_time, description

previous_description = ""
for i in range(len(data)):
    row = data.iloc[i, 0]

    # Skip rows containing 'Date and Time'
    if 'Date and Time' in row:
        continue

    date_time, temp_description = extract_details(row)

    if date_time:
        # If date_time is extracted, it's a new entry
        if previous_description:
            # Save the previous entry before starting a new one
            temp_df = pd.DataFrame([[None, previous_description]], columns=["Date and Time", "Temporary Description"])
            details_data = pd.concat([details_data, temp_df], ignore_index=True)
            previous_description = ""

        # Create a new entry for the current row
        temp_df = pd.DataFrame([[date_time, temp_description]], columns=["Date and Time", "Temporary Description"])
        details_data = pd.concat([details_data, temp_df], ignore_index=True)
    else:
        # If no date_time is found, append the row to the previous description
        previous_description += " " + row

# Add the last accumulated description if it exists
if previous_description:
    temp_df = pd.DataFrame([[None, previous_description]], columns=["Date and Time", "Temporary Description"])
    details_data = pd.concat([details_data, temp_df], ignore_index=True)

# Iterate through the details_data DataFrame to modify or drop rows based on conditions
for i in range(1, len(details_data)):
    if pd.isnull(details_data.at[i, 'Date and Time']):
        if 'Date and Time Description' in details_data.at[i, 'Temporary Description']:
            # Drop the row if 'Temporary Description' contains 'Date and Time Description'
            details_data.drop(i, inplace=True)
        else:
            # Append the current row's 'Temporary Description' to the previous row's 'Temporary Description'
            details_data.at[i - 1, 'Temporary Description'] += ' ' + details_data.at[i, 'Temporary Description']
            # Drop the current row after appending its description to the previous row
            details_data.drop(i, inplace=True)

# Reset the index after dropping rows
details_data.reset_index(drop=True, inplace=True)

In [27]:
# Update the function to capture negative amounts as well
def extract_details_with_negative_amount(row):
    description = row['Temporary Description']
    sale_date = row['Date and Time']
    
    # Initialize default values
    post_date, desc, amount = None, description, None
    
    # Check if 'reference' is in the description
    if 'reference' in description.lower():
        # Pattern when 'reference' is present: extract the last number as amount (considering commas and negatives) and remove it from the description
        amount_parts = re.findall(r'-?[\d,]+\.\d+', description)
        if amount_parts:
            amount = amount_parts[-1].replace(',', '')
            desc = description.replace(amount_parts[-1], '').strip()
            post_date_match = re.search(r'\d{2}/\d{2}/\d{2}', desc)
            post_date = post_date_match.group() if post_date_match else sale_date
            desc = desc.replace(post_date, '').strip() if post_date_match else desc
    else:
        # Default pattern: extract the last number as amount (considering commas and negatives) and remove it from the description
        amount_parts = re.findall(r'-?[\d,]+\.\d+', description)
        if amount_parts:
            amount = amount_parts[-1].replace(',', '')
            desc = description.replace(amount_parts[-1], '').strip()
            post_date_match = re.search(r'\d{2}/\d{2}/\d{2}', desc)
            post_date = post_date_match.group() if post_date_match else sale_date
            desc = desc.replace(post_date, '').strip() if post_date_match else desc
    
    return pd.Series([sale_date, post_date, desc, amount], index=['Sale Date', 'Post Date', 'Description', 'Amount'])

# Apply the updated function to the original data
excel_data = details_data.copy()
extracted_data_with_negative = excel_data.apply(extract_details_with_negative_amount, axis=1)

# Show the modified dataframe
extracted_data_with_negative.head()

  Sale Date Post Date                              Description   Amount
0  03/21/24  03/21/24                   MONTHLY MEMBERSHIP FEE   150.00
1  02/22/24  02/22/24         SM STORE-MEGAMALL MANDALUYONG PH  4798.40
2  02/27/24  02/28/24  SKY CABLE 3D IPG QC MPGS QUEZON CITY PH  1299.00
3  03/01/24  03/03/24    ITALIANNIS SHANGRILA M MANDALUYONG PH  2203.28
4  03/01/24  03/03/24       MARY GRACE SHNGRILA MANDALUYONG PH   212.00

In [28]:
extracted_data_with_negative

,Sale Date,Post Date,Description,Amount
0,03/21/24,03/21/24,MONTHLY MEMBERSHIP FEE,150.00
1,02/22/24,02/22/24,SM STORE-MEGAMALL MANDALUYONG PH,4798.40
2,02/27/24,02/28/24,SKY CABLE 3D IPG QC MPGS QUEZON CITY PH,1299.00
3,03/01/24,03/03/24,ITALIANNIS SHANGRILA M MANDALUYONG PH,2203.28
4,03/01/24,03/03/24,MARY GRACE SHNGRILA MANDALUYONG PH,212.00
5,03/11/24,03/11/24,THE MARKETPLACE SHANGR MANDALUYONG PH,1416.25
6,03/14/24,03/14/24,PAYMENT RECEIVED - THANK YOU,-9500.00
7,03/14/24,03/17/24,S&R PIZZA AYALA THE 30TH PASIG PH Reference:...,1875.30
8,03/15/24,03/17/24,PYM*WHEYL NUTRITION CO. Taguig City PH Refer...,2848.00
9,03/17/24,03/17/24,WATSONS SHANGRILA PLAZ MANDALUYONG PH,245.00
10,03/17/24,03/18/24,THE MARKETPLACE EDSA PHILIPPINES PH Referenc...,1100.40
11,03/17/24,03/18/24,CARAMIA-SHANGRI-LA MANDALUYONG C PH,698.40
12,03/20/24,03/20/24,ANGKAN ESTANCIA PASIG PH,1185.00

In [29]:
# Save the DataFrame to an Excel file without the index
output_file_path = 'bdo_mar.xlsx'
extracted_data_with_negative.to_excel(output_file_path, index=False)

# UB

In [9]:
# Load the original data
file_path = r"E:\UB_MAR1_SOA.xlsx"
data = pd.read_excel(file_path, sheet_name='Sheet2', engine='openpyxl')

In [10]:
data.head()

  Transaction_Date Posting_Date Transaction_Details Amount
0  04/02/2024 04/02/2024 U‐PROTECT Premium CHARGE...
1  03/02/2024 03/04/2024 GADC MATALINO 193, QUEZO...
2   03/02/2024 03/04/2024 LAZADA PH, MAKATI 3,998.02
3   03/03/2024 03/05/2024 LAZADA PH, MAKATI 1,337.38
4     03/04/2024 03/05/2024 LAZADA PH, MAKATI 726.68

In [11]:
# Re-initialize the details_data DataFrame to ensure it's empty before applying the transformation again
details_data = pd.DataFrame(columns=['Transaction Date', 'Posting Date', 'Transaction Detail', 'Amount'])

# Initialize a list to store each row's data as a dictionary
rows_list = []

# Iterate over each row in Sheet 1 to extract and transform data
for index, row in data.iterrows():
    # Split the row by space
    split_data = row[0].split()
    
    # Extracting individual elements based on the provided logic
    transaction_date = split_data[0]
    posting_date = split_data[1]
    amount = split_data[-1]
    transaction_detail = ' '.join(split_data[2:-1])  # Concatenating the remaining data as transaction detail
    
    # Appending the extracted data as a dictionary to the rows list
    rows_list.append({
        'Transaction Date': transaction_date,
        'Posting Date': posting_date,
        'Transaction Detail': transaction_detail,
        'Amount': amount
    })

# Concatenating the list of dictionaries as rows to the DataFrame
details_data = pd.concat([details_data, pd.DataFrame(rows_list)], ignore_index=True)

details_data

,Transaction Date,Posting Date,Transaction Detail,Amount
0,04/02/2024,04/02/2024,U‐PROTECT Premium CHARGE,501.18
1,03/02/2024,03/04/2024,"GADC MATALINO 193, QUEZON CITY","1,081.00"
2,03/02/2024,03/04/2024,"LAZADA PH, MAKATI","3,998.02"
3,03/03/2024,03/05/2024,"LAZADA PH, MAKATI","1,337.38"
4,03/04/2024,03/05/2024,"LAZADA PH, MAKATI",726.68
5,03/04/2024,03/05/2024,"GRAB, MAKATI","1,470.00"
6,03/05/2024,03/06/2024,"GRAB, MAKATI","1,301.00"
7,03/07/2024,03/07/2024,(06/36) OGAWA_SHANGRI LA,"2,777.78"
8,03/07/2024,03/08/2024,"STARBUCKS 486 ZETA TO, QUEZON CITY",190.00
9,03/08/2024,03/09/2024,"SHAKEYS, PARANAQUE","1,455.43"
10,03/08/2024,03/09/2024,"CHATGPT SUBSCRIPTION, HTTPSOPENAI.C","1,138.52"
11,03/09/2024,03/11/2024,"TGI FRIDAYS ESTANCIA, PASIG","1,850.23"
12,03/09/2024,03/11/2024,"SANTIS DELI CAPITOL, PASIG",322.00
13,03/09/2024,03/11/2024,"SANTIS DELI CAPITOL, PASIG",392.00
14,03/10/2024,03/11/2024,"CEBU AIR INC, https://www.c","1,796.12"
15,03/10/2024,03/11/2024,"BAYAD CENTER MERALCO, PASIG","10,053.77"
16,03/10/2024,03/11/2024,"CEBU AIR INC, https://www.c","6,340.36"
17,03/10/2024,03/11/2024,"CEBU AIR INC, https://www.c","7,267.36"
18,03/10/2024,03/11/2024,"CEBU AIR INC, https://www.c","2,105.12"
19,03/10/2024,03/12/2024,"CCF Inc, Pasig City","67,500.00"
20,03/12/2024,03/13/2024,BANCNET PAYMENT,"‐68,151.00"
21,03/12/2024,03/13/2024,"GREENFIELD DEV‐ERPS, MANDALUYONG","1,998.00"
22,03/12/2024,03/13/2024,"KFCSHANGRILA, MANDALUYONG",330.00
23,03/13/2024,03/14/2024,"NONNAS PIZZA GALLERIA, QUEZON","1,516.00"
24,03/13/2024,03/14/2024,"GRAB, MAKATI",68.00
25,03/13/2024,03/14/2024,"GRAB, MAKATI",74.00
26,03/13/2024,03/14/2024,"GRAB, MAKATI","2,000.00"
27,03/14/2024,03/15/2024,"STARBUCKS 543 CYBRSCP, PASIG",580.00
28,03/14/2024,03/16/2024,"Canva* 04090‐26106932, Sydney",299.00
29,03/16/2024,03/18/2024,"PUDDY ROCK, MANDALUYONG",185.00
30,03/16/2024,03/18/2024,"PUDDY ROCK, MANDALUYONG",700.00
31,03/16/2024,03/18/2024,"BONCHON SHANGRILA, MANDALUYONG",770.57
32,03/16/2024,03/19/2024,"CCF Inc, Pasig City","97,000.00"
33,03/18/2024,03/19/2024,ROB BILLS PAYMENT ‐ONLINE,"‐97,000.00"
34,03/20/2024,03/21/2024,"GRAB, MAKATI",166.00
35,03/22/2024,03/25/2024,"GRAB, MAKATI",50.00
36,03/22/2024,03/25/2024,"GRAB, MAKATI",921.00
37,03/23/2024,03/25/2024,"GRAB, MAKATI",415.00
38,03/23/2024,03/25/2024,"TIONG BAHRU ESTANCIA PASI, PASIG CITY","1,758.11"
39,03/24/2024,03/25/2024,"STARBUCKS 220 BONI HI, TAGUIG",485.00
40,03/24/2024,03/25/2024,"GRAB, MAKATI",76.00
41,03/24/2024,03/25/2024,"CAFE MARY GRACE ONE BH, TAGUIG","6,850.52"
42,03/24/2024,03/26/2024,"ZHU BA JIE BGC, TAGUIG CITY","1,930.50"
43,03/25/2024,03/26/2024,"PRU LIFE UK (BA) (PHP), TAGUIG CITY","6,350.00"
44,03/25/2024,03/26/2024,"GRAB, MAKATI",955.00
45,03/26/2024,03/27/2024,"GRAB, MAKATI","1,000.00"
46,03/27/2024,03/27/2024,(04/06) RSONS ABESN ILO INST,"3,499.17"
47,03/28/2024,04/01/2024,"SKY CABLE 3D IPG QC MPGS, QUEZON CITY","1,299.00"
48,03/28/2024,04/01/2024,"SUN LIFE‐WEB, TAGUIG CITY","7,607.50"
49,03/30/2024,04/01/2024,"DOMINOS GREENFIELD, MANDALUYONG",989.00
50,04/01/2024,04/02/2024,ROB BILLS PAYMENT ‐ONLINE,"‐43,700.00"
51,04/01/2024,04/02/2024,"GRAB, MAKATI",104.00
52,04/01/2024,04/02/2024,(03/06) MERRELL‐MEGAMALL,"1,082.50"

In [14]:
df = details_data.copy()

In [20]:
import re

# Function to replace non-standard hyphens/dashes with a standard hyphen
def replace_non_standard_hyphens(s):
    return re.sub(r'[^\d.,]+', '-', s)

# Apply the function to your column and then convert to float
details_data['Amount'] = details_data['Amount'].apply(replace_non_standard_hyphens).str.replace(',', '').astype(float)

In [21]:
details_data['Amount'].sum()

45811.82000000001

In [23]:
# Specify the filename for the output Excel file
output_file_path = r"E:\UB_APR1_SOA_transformed.xlsx"

# Write the DataFrame to an Excel file without the index
details_data.to_excel(output_file_path, index=False)